<img src="assets/img/img-banner.jpg" srcset="assets/img/img-banner.jpg 1x, assets/img/img-banner.jpg 2x" style="position: absolute; height: 100%; width: 100%; object-fit: cover; left: 0; top: 0;" />

<section class="gh-canvas" {{scroll-top}}>

    <GhCanvasHeader class="gh-canvas-header" style="background: transparent">
        <h2 class="gh-canvas-title" data-test-screen-title style="color: white;">
            Dashboard
        </h2>
    </GhCanvasHeader>

    <div class="view-container gh-dashboard">
        <p style="color: white;">Bienvenido al administrador de contenido de la CVV. Utilice el menu de la izquierda para poder acceder a los distintos contenidos habilitados.</p>
    </div>
</section>
