<section class="gh-canvas" {{scroll-top}}>
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            Dashboard
        </h2>
    </GhCanvasHeader>

    <div class="view-container gh-dashboard">
        <p>Bienvenido al administrador de contenido de la CVV. Utilice el menu de la izquierda para poder acceder a los distintos contenidos habilitados.</p>
    </div>
</section>
